# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Sphinx documentation
docs/_build/

# IDEs
.vscode/
*.swp
